{{>partials/header}}

        <div class="container">

            <form action="/" method="POST">
                <input type="text" name="city" placeholder="city" required/>
                <input type="submit" value="send"/>
            <form>

            <div class="weather-data">
                <div>{{cityName}}, {{country}}</div>
                <div>{{temp}}</div>
                <div class="temps">min: {{min}} | max: {{max}}</div>
                <div><img src="{{icon}}" alt="weather icon"></div>
                <div>{{description}}</div>
            </div>

        </div>

{{>partials/footer}}